*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.login
{
  width: 100vw;
  height: 100vh;
  background:rgb(168, 181, 199);
  display: grid;
  align-items: center;
}

.form
{
  width: 400px;
  height: 380px;
  margin-left: 180px;
  background: transparent;
  padding: 50px 0 0 33px;
}
.form .input
{
  width: 90%;
  height: 40px;
  outline: none;
  border: 1px solid transparent;
  border-radius:5px;
  padding-left: 20px;
  margin-bottom: 13px;
  font-size: 1rem;
  font-weight: 1;
}
.form .view 
{
  width:37px;
  background: #c9c4c4;
  border-radius: 0 5px 5px 0;
  padding-left: 0;
  padding-top:7px;
  margin-right: 9.5%;
  font-size: 1rem;
  border: 1px solid #4e4e4e;
  float:right;
}
#password 
{
  float: left;
  width: 80%;
  border-radius: 5px 0 0 5px;
  margin:0;

}
.form label
{
  color:rgb(34, 30, 30);
  position: relative;
  font-weight: bold;
}
.form button
{
  height: 40px; 
  width: 90px;
  font-weight: lighter;
  outline: none;
  border:none;
  border-radius: 10px;
  transform: translateX(250%);
  margin-top: 10px;
  background: #fff;
}

#password-text
{
  color:#c40606;
  font-weight: bold;
  width: 100%;
}
#progress
{
  width: 90%;
  height: 10px;
  accent-color: red;
}